*,
*::after,
*::before{
    box-sizing: border-box;
}

input {
    outline-style: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
body {  
        margin: 0 auto;
        background-color: tan;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
.kelvin,.celsius,.fahrenheit{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.universal-tube{
    display: flex;
    align-items:flex-end ;
    justify-content: center;
    margin: 10px;
    border: solid 2px black;
    width: 100px;
    height: 500px;
    border-radius: 0 0 20px 20px;
}

.kelvin__tube > .kelvin__tube--color {
    width: 100px;
    background-color: rgb(199, 40, 172);
    border-radius: 0 0 20px 20px;
}
.celsius__tube > .celsius__tube--color {
    width: 100px;
    background-color: rgb(20, 197, 20);
    border-radius: 0 0 20px 20px;
}
.fahrenheit__tube > .fahrenheit__tube--color {
    width: 100px;
    background-color: rgb(25, 23, 155);
    border-radius: 0 0 20px 20px;
}